*,
*::before,
*::after {
	box-sizing: border-box;
}

.theme-switch {
	width: 1000px;
	height: 30px;
	display: flex;
	flex-direction: row;
	margin-left: 100%;

	&__logo {
		height: 20px;
		width: 20px;
		margin-top: 4px;
	}
}

.toggle {
	display: block;
	user-select: none;
}

.toggle__checkbox {
	display: none;
}

.toggle__btn {
	display: block;
	margin: 0 auto;
	transition: all 350ms ease-in;

	&:hover {
		cursor: pointer;
	}
}

.toggle__btn,
.toggle__checkbox,
.toggle__feature {
	&,
	&:before,
	&:after {
		transition: all 250ms ease-in;
	}

	&:before,
	&:after {
		content: "";
		display: block;
	}
}

.toggle__modes {
	.toggle__btn {
		position: relative;
		height: 26px;
		width: 66px;
		border-radius: 30px;
		margin-left: 10px;
		margin-right: 10px;

		&:before {
			position: absolute;
			top: 2px;
			left: 4px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
		}
	}
}

.toggle__modes {
	.toggle__btn {
		background-color: var(--toggleBackground);

		&:before {
			background-color: var(--toggle);
		}

		&:after {
			position: absolute;
			top: 62%;
			left: 26px;
			z-index: 10;
			opacity: 0;
			border-radius: 50%;
			transition: opacity 100ms ease-in;
		}
	}

	.toggle__checkbox:checked {
		& + .toggle__btn {
			background-color: var(--toggleBackground);

			&:before {
				left: 42px;
				background-color: var(--toggle);
			}

			&:after {
				opacity: 100;
				animation-name: bounceIn;
				animation-duration: 0.6s;
				animation-delay: 0.1s;
				animation-fill-mode: backwards;
				animation-timing-function: ease-in-out;
			}

			.toggle__feature {
				opacity: 0;
				animation: none;

				&:before {
					left: 25px;
					transform: rotate(70deg);
				}
			}
		}
	}
}
