

details {
	width: 60%;
	margin: auto;

	&__header {
		width: 100%;
		margin: auto;
		margin-top: -25px;
		height: 140px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		background-color: var(--backgroundCards);
		position: relative;
		z-index: 3;

		img,
		.no-logo {
			height: 140px;
			width: 140px;
		}

		&__inner {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}

		&__heading {
			color: var(--boldText);
			margin-top: 35px;
			font-size: 24px;
		}

		&__company-url {
			color: var(--thinText);
			margin-top: -10px;
			font-weight: 200;
			font-size: 16px;
			
		}
	}

	.button {
		background-color: var(--toggle);
		color: var(--primary);
		margin-right: 50px;
		margin-top: 45px;
		width: 17%;
	}

	&__body {
		background-color: var(--backgroundCards);
		margin-top: 50px;

		&__heading {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			&__time,
			&__type,
			&__dot {
				color: var(--thinText);
				margin-left: 20px;
			}
			&__title {
				margin-left: 20px;
			}
			&__location {
				color: var(--toggle);
				margin-left: 20px;
			}

			.button {
				background-color: var(--toggle);
				color: var(--primary);
				margin-right: 100px;
				margin-top: 45px;
				width: 72%;
			}
		}

		&__main {
			p, li {
				color: var(--thinText);
				font-weight: lighter;
				margin: 20px;
			}
			strong {
				color: var(--boldText);
			}

			&__application {
				background-image:url("bgFooter.svg") ;
			}
		}
	}
}
