.details {
	width: 60%;
	margin: auto;

	&__header {
		width: 100%;
		margin: auto;
		margin-top: -25px;
		height: 140px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		background-color: var(--backgroundCards);
		position: relative;
		z-index: 3;

		img,
		.no-logo {
			height: 140px;
			width: 140px;
		}

		&__inner {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}

		&__heading {
			color: var(--boldText);
			margin-top: 35px;
			font-size: 24px;
		}

		&__company-url {
			color: var(--thinText);
			margin-top: -10px;
			font-weight: 200;
			font-size: 16px;
		}
	}

	.button {
		background-color: var(--buttonDetails);
		color: var(--primary);
		margin-right: 50px;
		margin-top: 45px;
		width: 17%;
		border: none;
	}

	&__body {
		background-color: var(--backgroundCards);
		margin-top: 50px;

		&__heading {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			&__timestamp {
				margin-top: 20px;
			}

			&__time,
			&__type,
			&__dot {
				color: var(--thinText);
				margin-left: 20px;
				margin-top: 15px;
			}
			&__title {
				margin-left: 20px;
				color: var(--boldText);
			}
			&__location {
				color: var(--toggle);
				margin-left: 20px;
			}

			.button {
				background-color: var(--buttonDetails);
				border: none;
				color: var(--primary);
				margin-right: 100px;
				margin-top: 45px;
				width: 72%;
			}
		}

		&__main {
			margin-bottom: 20px;
			p,
			li {
				color: var(--thinText);
				font-weight: lighter;
				margin: 20px;
			}
			strong {
				color: var(--boldText);
			}
		}

		&__application {
			border-radius: 6px;

			&__body {
				margin-top: 10px;
			}
			h3,
			p,
			a {
				color: var(--toggleBackground);
				text-decoration: none;
				margin-left: 20px;
			}
			p {
				margin-left: 10px;
			}
			h3 {
				padding-top: 15px;
			}

			p,
			a {
				padding-bottom: 1px;
			}
		}
	}

	&__footer {
		background-color: var(--backgroundCards);
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&__text {
			display: flex;
			flex-direction: column;
			margin-left: 20%;
			color: var(--boldText);
		}

		small {
			color: var(--thinText);
		}

		.button {
			margin-right: 20%;
			background-color: var(--buttonDetails);
			border: none;
			color: var(--primary);
			width: 13%;
		}
	}
}
