@import "../scss/variables";
@import "../scss/mixins";

.search {
  width: 80%;
  height: 80px;
  border-radius: 6px;
  display: flex;
  background-color: var(--backgroundCards);
  margin: auto;
  margin-top: -40px;
  z-index: 3;
  position: relative;
  

  input {
    background-color: var(--backgroundCards);
    width: 30%;
    border: transparent;
    border-right: 0.5px solid var(--buttonBackground);
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  ::-webkit-input-placeholder { 
    text-align: center;
    padding-top: 30px;
    color: var(--thinText);
    
  }

  .checkbox {
    display: flex;
    flex-direction: row;
    width: 20%;
    margin-right: 40px;

    &__area {
      margin-top: 30px;
      height: 19px;
      width: 19px;
      margin-left: 15px;
      filter: hue-rotate(35deg);
    }

    &__text {
      color: var(--thinText);
      margin-top: 30px;
      margin-left: 10px;
      
    }
  }
}

@include responsive(500) {
  .search {
    width: 90%;
    display: flex;
    flex-direction: column;

    input {
      width: 100%;
      padding: 15px;
      border: transparent;
      border-bottom-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: 1px solid rgba(147, 155, 244, 1);
    }

    .filter-title {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    ::-webkit-input-placeholder {
      text-align: center;
      //text-indent: 10px;
    }

    .checkbox {
      width: 100%;
      background-color: var(--backgroundCards);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      justify-content: center;

      &__text {
        margin-top: 15px;
        
      }

      &__area {
        margin-top: 15px;
        margin-left: 8px;
        width: 15px;
        height: 15px;
      }
    }
  }

  
}