@import "../scss/variables";

.cards__container {
    background-color: $cardBackgroundColor;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 300px;
    width: 300px;

    
   
}

.card {
    height: 300px;
    width: 300px;
}