@import "../scss/variables";

.main-container {
  width: 100%;
  margin: auto;
}

.cards-container {
  background-color: var(--background);
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  width: calc(80% + 40px);
  margin: auto;
  margin-top: 280px;
}

.card {
  padding: 20px;
  width: 50%;

  @media (min-width: 1024px) {
    width: 33%;
  }

  &__link {
    display: block;
    top: 305px;
    left: 166px;
    border-radius: 6px;
    background-color: var(--backgroundCards);
    text-decoration: none;
  }

  &__header {
    img {
      width: 50px;
      height: 50px;
      margin-top: -24px;
      margin-left: 33px;
      border-radius: 15px;
    }
  }

  &__span {
    width: 51px;
    height: 16px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 16.09px;
    margin: 10px;
    color: var(--thinText);
  }

  &__body {
    .thumbnail__title {
      color: var(--boldText);
      margin: 10px;
    }
    small {
      color: var(--thinText);
      margin: 10px;
    }
  }

  &__footer {
    .thumbnail__location {
      color: var(--thinText);
      margin: 10px;
    }
  }
}

.card__no-logo {
  height: 50px;
  width: 50px;
  margin-top: -24px;
  margin-left: 33px;
  border-radius: 15px;
}
