.spinner {
  border-radius: 2000px;
  border: 2px solid var(--boldText);
  width: 50px;
  height: 50px;
  margin: auto;
  
  transform-origin: center;
  animation-duration: 3s;
  animation-name: rotate-spinner;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
  position: relative;
  &::before,
  &::after {
    position: absolute;
    left: -35px;
    content: '';
    width: 120px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid var(--boldText);
  }
  
  &::before {
    top: -10px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  &::after {
    top: 40px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
  
@keyframes rotate-spinner {
  0% {
    transform: rotate(0deg) scale(1, 1);
  }

  50% {
    transform: rotate(180deg) scale(1.2, 1.2);
  }

  100% {
    transform: rotate(360deg) scale(1, 1);
  }
}
