.button {
  color: var(--boldText);
  background-color: var(--buttonBackground);
  border-radius: 6px;
  width: 15%;
  height: 48px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 16.09px;
  margin-top: 16px;
  font-size: 16px;
}

.button__load {
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
  
}

