<<<<<<< HEAD
button {
  color: var(--backgroundCards);
=======
.button {
  color: var(--boldText);
>>>>>>> 753280b6ff32b380c959ef49f5b7108e32863193
  background-color: var(--buttonBackground);
  border-radius: 6px;
  width: 120px;
  height: 48px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 16.09px;
  margin-top: 16px;
  font-size: 16px;
}

