.button {
  color: var(--boldText);
  background-color: var(--buttonBackground);
  border-radius: 6px;
  width: 13%;
  height: 48px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;
  margin-top: 16px;
  font-size: 16px;
  border: none;
}

.button__load {
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
  
}

.button__applyNow {
  background-color: var(--buttonDetails);
		color: var(--primary);
		margin-right: 50px;
		margin-top: 45px;
		width: 17%;
		border: none;
}

.button__company {
  background-color: var(--buttonDetails);
				border: none;
				color: var(--primary);
				margin-right: 100px;
				margin-top: 45px;
				width: 72%;
}

