$primary: rgba(89, 100, 224, 1);
$primaryLight: rgba(147, 155, 244, 1);
$veryDarkBlue: rgba(25, 32, 45, 1);
$midnight: rgba(18, 23, 33, 1);
$white: rgba(255, 255, 255, 1);
$lightGrey: rgba(244, 246, 248, 1);
$grey: rgba(157, 174, 194, 1);
$darkGrey: rgba(110, 128, 152, 1);
$darkGrey: green;


// generic
$textColor: $darkGrey;
$textColorOnPrimary: $white;

// components
//// header
$headerBackgroundColor: $primary;
$headerTitleColor: $textColorOnPrimary;

//// cards
$cardBackgroundColor: $white;
$titleColor: $veryDarkBlue;
