html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Kumbh Sans', sans-serif;
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

