html[data-theme="default-theme"] {
  --background: #{$lightGrey};
  --backgroundCards: #{$white};
  

  
  
  
}

html[data-theme="dark"] {
  --background: #{$midnight};
  --backgroundCards: #{$veryDarkBlue};
  
}