html {
  --background: #{$lightGrey};
  --backgroundCards: #{$white};
  --thinText: #{$darkGrey};
  --boldText: #{$veryDarkBlue};
  --buttonBackground: #{$primary};
  --toggleBackground: #{$white};
  --toggle: #{$primaryLight};
  --buttonDetails: #{$violetLight}
  
}

[data-theme="dark"] {
  --background: #{$midnight};
  --backgroundCards: #{$veryDarkBlue};
  --thinText: #{$darkGrey};
  --boldText: #{$white};
  --buttonBackground: #{$primaryLight};
  --toggleBackground: #{$white};
  --toggle: #{$primaryLight};
}