html {
  --background: #{$lightGrey};
  --backgroundCards: #{$white};
  --thinText: #{$darkGrey};
  --boldText: #{$veryDarkBlue};
  --buttonBackground: #{$primary};
  

  
  
  
}

html[data-theme="dark"] {
  --background: #{$midnight};
  --backgroundCards: #{$veryDarkBlue};
  --thinText: #{$darkGrey};
  --boldText: #{$white};
  --buttonBackground: #{$primaryLight};
  
}